@model IEnumerable<Traveler.Models.Travel>

@{
    ViewBag.Title = "Moje podróże";
}

<h2>@ViewBag.Title</h2>

@if (User.Identity.IsAuthenticated)
{<input type="button" class="btn btn-default" value="Nowa podróż" onclick="location.href='@Url.Action("Create", "Travels")'" />}
    
<div class="short_selection">
    <ul class="md_golist_list" style="clear:left;">
                @{
                    
                        foreach (var item in Model)
                        {
                            <div>
                                @Html.ActionLink(item.Name, "Details", new { id = item.TravelID })
                             
                            </div>
                        }
                    
                }
    </ul>

</div>