@model IEnumerable<Traveler.Models.Travel>

@{
    ViewBag.Title = "Moje podróże";
}

<h2>@ViewBag.Title</h2>

<button class="btn btn-default" href='@Html.ActionLink("Nowa podróż", "Create")'>Nowa podróż</button>
    
<div class="short_selection">
    <ul class="md_golist_list" style="clear:left;">
                @{
                    <li>
                        @foreach (var item in Model)
                        {
                            <div>
                                @Html.ActionLink(item.Name,"Details",new { id = item.TravelID })
                            </div>
                        }
                    </li>
                }
    </ul>

</div>