@model Traveler.Models.Search
@{
    ViewBag.Title = "View";
}

<h2>Przeszukiwarka podróży</h2>

@using (Html.BeginForm("Find","Search",FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group">
            <hr />
            <h4>  <input type="radio" name="type" id="Country" value="Country" />  Szukaj państwa</h4>
            
            <div class="col-md-10">
                Wyszukaj wszystkie podróże odbyte w danym kraju
                <br />
               
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control_1"  } })
                
            </div>
        </div>
        
        <div class="form-group">
            <hr />
            <h4> <input type="radio" name="type" id="City" value="City" />   Szukaj miasta</h4>
           
            <div class="col-md-10">
                Wyszukaj wszystkie podróże w danym mieście
                <br />
            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control_2" } })
              
            </div>
        </div>
        

        <div class="form-group">
            <hr />
            <h4><input type="radio" name="type" id="User" value="User" />   Szukaj użytkownika</h4>
           
            <div class="col-md-10">
                Wyszukaj użytkownika naszego serwisu
                <br />
               @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control_3" } })
            </div>
        </div>
        
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Szukaj"  />
                <!-- <button type="submit"  class="btn btn-default" >Szukaj</button>-->

                </div>
            </div>
        </div>
}
<script>
$("form input:radio").change(function () {
    if ($(this).val() == "Country") {

        $('.form-control_1').removeAttr('disabled');
        $('.form-control_2').attr('disabled', 'disabled');
        $('.form-control_3').attr('disabled', 'disabled');
    }
    else if ($(this).val() == "City") {
        // Re-enable here I guess
        $('.form-control_2').removeAttr('disabled');
        $('.form-control_1').attr('disabled', 'disabled');
        $('.form-control_3').attr('disabled', 'disabled');
    }
    else
    {
        $('.form-control_3').removeAttr('disabled');
        $('.form-control_2').attr('disabled', 'disabled');
        $('.form-control_1').attr('disabled', 'disabled');
    }
});
$("form input:radio").before(function () {
    $('.form-control_3').attr('disabled', 'disabled');
    $('.form-control_2').attr('disabled', 'disabled');
    $('.form-control_1').attr('disabled', 'disabled');
})
</script>