@{
    ViewBag.Title = "Home Page";
    ViewBag.RenderOutsideContainer = true;
}

<div class="jumbotron">
    <div class="container">
        <h1>Witaj w Traveler!</h1>
        <p>Traveler jest serwisem o podróżach, w którym możesz założyć profil, opisać swoje podróże, pokazać zdjęcia oraz komentować zdjęcia i podróże innych.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Dla kogo?</h3>
            <p>Dla wszystkich, którzy podróżują, nie tylko dla globtrotterów, ale również dla tych, którzy zwyczajnie jadą na wakacje</p>
        </div>
        <div class="col-md-4">
            <h3>Dlaczego warto?</h3>
            <p>Opisując podróże i dodając zdjęcia tworzysz profil, który grupuje wszystkie Twoje wyjazdy w jednym miejscu - zamiast pisać maile do znajomych możesz dać im adres swojego profilu i tam publikować opisy i zdjęcia</p>
        </div>
        <div class="col-md-4">
            <h3>Co zyskuję?</h3>
            <p>Wyjeżdżającym Traveler daje dostęp do najlepszych informacji - nikt nie opisze miejsca tak wiarygodnie jak inni turyści; relacje innych dają Ci pewność, że nie czytasz tendencyjnej reklamy, ale fakty</p>
        </div>
    </div>
</div>
