body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

pre {
    border: 0; 
    background-color: transparent;
}

.hidden {
    display: none;
}

.no-photo-thumbnail {
    background-color: #EEEEEE;
    height: 200px;
    padding-top: 40px;
}
.no-photo-thumbnail img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 0.5
}

.toolbar {
    padding-top: 20px;
    text-align: right;
}

.md_GolistLeft, .md_GolistHeader {
    width: 965px;
    padding: 5px 0px;
    background: #EFEFEF;
    float: left;
    font-size: 12px;
}
.md_GolistPoint {
    width: 965px;
    padding: 25px 0px 15px 0px;
    float: left;
}
.short_selection
{
    display:block;
    padding-top: 20px;
}

.md_golist_list li div {
    float: left;
    border: 1px solid #EFEFEF;
    display: block;
    position: relative;
    z-index: 0;
    margin-right: 5px;
}
.selectedFiles
{
        float: left;
        margin-bottom:10px;
}
.SelectedImg{
    width:120px;
    height:150px;
    padding:5px 5px 5px 5px;
}
.div_list{
    padding: 9px 9px 9px 9px;
    border:  1px solid #EEEEEE;
}
.img_div_list{
    height:400px;
    width: 320px; 
}
.span_div_list
{
    background-color: lightgray;
    font-weight:700;
    display:block;
    padding-bottom: 5px;
}
.comment-title{
    background-color: #9d9d9d;
    color: white;
    width: auto;
    height: 18px;
    padding-top: 1px;
    padding-left: 2px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    font-size: 90%;
    font-family: Verdana;
}
.comment-body{  
    position: relative;
    margin-top: 4px;
    width: auto;
    color: #FFFFFF;
    padding: 4px;
    padding-top: 4px;
    padding-bottom: 6px;
    background-color: #0482AB;
    font-size: 90%;
    text-align: justify;
    line-height: 1.4;
}
.comment-add-title{
    
    background-color: #9d9d9d;
    color: white;
    width: 300px;
    height: 18px;
    padding-top: 1px;
    padding-left: 2px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    font-size: 90%;
    font-family: Verdana;
}
.comment-add{
    position: relative;
    margin-top: 4px;
    left: 0px;
    height: auto;
    width: 300px;
    border: 0px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 2px;
    padding-bottom: 0px;
    background-color: #0482AB;
    color: #FFFFFF;
}
.dl dt{
    
    float: left;
    margin-right: 10px;
    width: auto;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl dd{
    margin-left: 0px;
}